.share-icons{
    cursor: pointer;
}

.uk-button{
    margin: 5px 0;
  }
  .center-item{
    margin: 0 auto!important;
    display: flex;
  }
  .p-20{
    padding: 20px;
  }
  .top-20{
    margin-top: -70px;
  }
  .icon-title{
    width: min-content;
    margin: auto auto 0;
    line-height: 14px;
    font-weight: 400;
    margin-top: 8px;
    color: black;
  }
  /* .icon-img{
    width: 40px;
  } */

  .item-icon{
      vertical-align: top;
      display: inline-block;
      text-align: center;
      width: 120px;
  }
  .icon-img {
      width: 100px;
      height: 100px;
  }
  .caption {
      display: block;
  }

  @media only screen and (max-width: 1000px) {
    .item-icon {
        vertical-align: top;
        display: inline-block;
        text-align: center;
        width: 100px;
    }
    
  }

  @media only screen and (max-width: 912px) {
    .hidden-m{
      display: none!important;
    }
    .block-m{
      display: block!important;
    }
    
    .item-icon {
      vertical-align: top;
      display: inline-block;
      text-align: center;
      width: 50px;
      margin: 0 10px;
    }
  }

  @media only screen and (max-width: 650px) {
    .item-icon {
      vertical-align: top;
      display: inline-block;
      text-align: center;
      width: 50px;
      margin: 0 10px;
    }
    #mobile div{
      padding: 0!important;
    }
    .font-mobile{
      font-size: 1.8em;
    }
  }
  @media only screen and (max-width: 414px) {
    .item-icon {
      vertical-align: top;
      display: inline-block;
      text-align: center;
      width: 35px;
      margin: 0 10px;
    }
    .pd-xs-0{
      padding: 0!important;
    }
  }

  @media only screen and (max-width: 375px) {
    .item-icon {
      vertical-align: top;
      display: inline-block;
      text-align: center;
      width: 40px;
      margin: 0 10px;
    }
    .pd-xs-0{
      padding: 0!important;
    }
  }

  @media only screen and (max-width: 320px) {
    .item-icon {
      vertical-align: top;
      display: inline-block;
      text-align: center;
      width: 30px;
      margin: 0 10px;
    }
    .pd-xs-0{
      padding: 0!important;
    }
    .center-item{
      padding: 5px!important;
    }
  }